.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  border-radius: 0 0 10px 10px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.card__description-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.card__like-button_active {
  background-image: url(../images/card-images/like_active.svg);
}

.card__like-button {
  background: transparent url(../images/card-images/like_disabled.png) center
    no-repeat;
  height: 18px;
  width: 21px;
  color: #000;
  border: none;
  cursor: pointer;
}

.card__delete-button {
  position: absolute;
  background: transparent url(../images/card-images/Trash.svg) no-repeat;
  margin: auto;
  padding: 0;
  cursor: pointer;
  border: none;
  height: 19px;
  width: 18px;
  top: 18px;
  right: 15px;
  z-index: 1;
}

.button__card_trash_bin:hover {
  opacity: 50%;
  transition: 0.2s, ease-in;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}
