.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
}

.modal__container {
  position: relative;
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  margin: auto;
}

.modal__close {
  position: absolute;
  cursor: pointer;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  height: 40px;
  width: 40px;
  border: none;
  background-image: url("../images/card-images/Close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__heading {
  color: #000;
  size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  width: 330px;
  height: 23px;
  padding: 34px 64px 273px 36px;
}

.modal__form {
}

.modal__button {
}
